.index-details-container {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	flex-direction: column;
}

.index-details-input {
	background-color: #f0f0f0;
	color: #888;
	border: 1px solid #B7B7B7;
	border-radius: 4px;
	padding: 4px 8px;
	min-width: 120px;
}

.index-details-divider {
	border: none;
	border-top: 2px solid #bdbdbd;
	margin: 2rem 0 1.5rem 0;
	width: 100%;
}